<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fitness Notebook</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <script src="https://use.fontawesome.com/91e1542a8e.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.1/dist/paper.css" />
  <link rel="stylesheet" href="/assets/style.css"/>
</head>

<body>
  {{{ body }}} 
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/assets/script.js"></script>
</body>

</HTML>
