.col {
    padding: 0;
    margin: 0;
}

.row {
    text-align: center;
    margin: .25rem;
}

.row.modal-row {
    text-align: left;
}

h2{
    margin: 1rem;
    
}

h3 {
    margin: 1rem;
    margin-top: 2rem;
    text-decoration: underline;
}

.btn-small {
    margin:0 auto;
    display: block;
}

.form-group .paper-switch-tile-card div {
    width: 150%;
}

.modal .modal-body {
    width:60%;
}